<section class="icons">
    <p id="follow">Follow us on: </p>

  <ul>
      <li><a href="https://www.facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li><a href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</section>
  <footer class="footer">
    <div id="privacy">
      Privacy Policy
    </div>
    <div id="terms">
      Terms of Use
    </div>
    <div id="copy">
        &copy; amzad hosain || 2017.
    </div>
  </footer>
</body>
</html>
