<% include ./partials/header.ejs %>

<div id="pictures">
  <img src="images/img.jpeg" />
  <img src="images/vegie.jpeg" />
  <img src="images/img.jpeg" />
  <img src="images/ice.jpeg" />
</div>






<% include ./partials/footer.ejs %>

